.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #485b75;
  color: #fff;
}

.nav-links {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
